@font-face {
    font-family: "Roboto Mono Bold";
    src: url("./fonts/RobotoMono-Bold.ttf")format("truetype");
}
@font-face {
    font-family: "Roboto Mono Bold Italic";
    src: url("./fonts/RobotoMono-BoldItalic.ttf")format("truetype");
}

/*Global Containers */
* {
    margin: 0;
    padding: 0;
}

.outer-container {
    height: 100dvh;
    width: 100dvw;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: "Roboto Mono Bold";
    color: white;

    height: 90%;
    width: 90%;
}

/* Header Properties */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    flex : 1;

    font-family: "Roboto Mono Bold";
    font-size: 1.5rem;
    outline: solid 3px white;
}


.left-header {
    flex: 8;
    font-size: 2rem;
}

.right-header {
   flex: 2;
   height: 100%;
   text-align: right;
   outline: solid 3px white;
}

.header-items {
   padding: 5%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.portfolioName {
    padding: 2%;
}

.dateItem {
    margin-bottom: 3%;
    font-size: 2rem;
}

.quoteItem {
    font-size: 1rem;
    font-family: "Roboto Mono Bold Italic";
}

/* Main Properties */

main {
    flex : 9;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.subText {
    margin-top: 3%;
}

.mainName {
    flex: 8;
    text-align: center;
    font-size: 15dvw;
    font-family: "Roboto Mono Bold Italic";
    letter-spacing: 0.3em;
}

.aside-logos {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-self: flex-end;
    margin-right: -4%;
}

.left-hr {
    flex: 1;
    align-self: flex-start;
    margin-top: 3%;
}

.right-hr {
    margin-bottom: 20px;
}

hr {
    width: 0px;
    height: 200px;
    border: solid 1px white;
}

.icons {
    height: 30px;
    width: 30px;
}